*{
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
   margin: 0;
   padding: 0;
   background-image: url('bg-frame2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   background-size: cover;
   display: flex;
    justify-content: center;
}
.main-container{
    width: 30%;
    height: 90vh;
    border-radius: 10px;
    background-image: url('bg-frame2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgb(111, 185, 249);
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #360808,
            0 0 0.8rem #280904,
            0 0 2.8rem #1d0803,
            inset 0 0 1.3rem #1e0b03; 
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.container{
    width: 100%;
    height: 100%;
}
.games{
    font-weight: 500;
    backdrop-filter: blur(30px);
    border: none;
    border-radius: 5px;
    padding: 10px 7px;
    background:rgba(255,255,255,0.1);
    color: #fff;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #b1a3ed,
            0 0 0.4rem #9ce4e9,
            0 0 1.8rem #a3ddf2,
            inset 0 0 0.3rem #a3e6f5;
}
.bingo-numbers{
    width: 50%;
    height: 90%;
    float: left;
    padding-left: 15px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    gap: 0;
    
}
.bingo-numbers button{
    padding:3px 5px 3px 5px;
    width: 25px;
    height: auto;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.i-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.n-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.g-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.o-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.bingo-playground{
    width: 50%;
    float: left;
    height: 458px;
    padding: 5px;
}
.b-btn{
    background-color: #14023f;
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #f6fe13,
            0 0 0.4rem #feee13,
            0 0 1.8rem #fefa13,
            inset 0 0 0.3rem #feea13;  
}
.b-button{
    text-align: center;
    background-color: #fe1313;
    border: 3px solid rgb(249, 241, 5);
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #a3d8ed,
            0 0 0.4rem #9ce4e9,
            0 0 1.8rem #a3ddf2,
            inset 0 0 0.3rem #a3e6f5;
}
.i-btn{
    background-color: #14023f;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #fe136d,
            0 0 0.4rem #fe1385,
            0 0 1.8rem #fe1379,
            inset 0 0 0.3rem #fe13a0;  
}
.i-button{
    background-color: #1379fe;
    border: 3px solid rgb(249, 5, 180);
}
.n-btn{
    background-color: #14023f;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #2bfe13,
            0 0 0.4rem #3efe13,
            0 0 1.8rem #2efe13,
            inset 0 0 0.3rem #13fe23;  
}
.n-button{
    background-color: #06a3bb;
    border: 3px solid #13fe23;
}
.g-btn{
    background-color: #14023f;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #0712a5,
            0 0 0.4rem #1b08a5,
            0 0 1.8rem #2d099b,
            inset 0 0 0.3rem #3a0aa1;
}
.g-button{
    background-color: #116998;
    border: 3px solid #3a0aa1;
}
.o-btn{
    background-color: #14023f;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #019edb,
            0 0 0.4rem #02bcc9,
            0 0 1.8rem #01a1db,
            inset 0 0 0.3rem #03acd2;
}
.o-button{
    background-color: #c14860;
    border: 3px solid rgb(38, 145, 195);
}
.numbers-call{
    width: 100%;
    height: 80px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-circle{
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #019edb,
            0 0 0.4rem #02bcc9,
            0 0 1.8rem #01a1db,
            inset 0 0 0.3rem #03acd2;
    animation: glow 1s ease-in-out infinite alternate;   
}
@-webkit-keyframes glow { 
    to {
        box-shadow: 0 0 0rem #fff,
        0 0 0rem #fff,
         0 0 0rem #019edb,
         0 0 0.1rem #02bcc9,
         0 0 0.8rem #01a1db,
         inset 0 0 0.1rem #03acd2;
  }
  }

.black-circle{
    width: 60px;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.inner-white-circle{
    width:40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.last-call{
    width: 100%;
    height: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.lastcall-number{
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #019edb,
            0 0 0.4rem #02bcc9,
            0 0 1.8rem #01a1db,
            inset 0 0 0.3rem #03acd2;
}
.lastcall-number p{
    font-size: 10px;
    font-weight: bold;
}
.l-num{
    background-color: #c14860;
    color: #fff;
}
.game-type{
    width: 100%;
    height: 200px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    gap: 0;
    padding:0px 0px 2px 0px;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #019edb,
            0 0 0.4rem #02bcc9,
            0 0 1.8rem #01a1db,
            inset 0 0 0.3rem #03acd2;
}
.cartela-btn button{
    padding:4px 2px 2px 2px;
    width: 25px;
    margin-left: 1.5px;
    margin-top: 3px;
    font-weight: 700;
    text-align: center;
}
.cartela-btn .a-cartela{
    background-color: #c14860;
    width: 29px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.play-btns{
    width: 100%;
    height: 100px;
    float: left;
}
.bingo-button{
    width: 100%;
    float: left;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refleav-button{
    width: 100%;
    float: left;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.bingo-button button{
    backdrop-filter: blur(30px);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background:rgba(255,255,255,0.1);
    color: #fff;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #a3d8ed,
            0 0 0.4rem #9ce4e9,
            0 0 1.8rem #a3ddf2,
            inset 0 0 0.3rem #a3e6f5;
}
.bingo-button button:hover{
    box-shadow: none;
}
.refleav-button button{
    backdrop-filter: blur(30px);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background:rgba(255,255,255,0.1);
    color: #fff;
    box-shadow: 0 0 .1rem #fff,
           0 0 .1rem #fff,
            0 0 1rem #a3d8ed,
            0 0 0.4rem #9ce4e9,
            0 0 1.8rem #a3ddf2,
            inset 0 0 0.3rem #a3e6f5;
}
.refleav-button button:hover{
    box-shadow: none;
}
@media only screen and (max-width:1100px) {
    .main-container{
        width: 40%;
        height: 100vh;
    }
    .bingo-numbers button{
        padding:5px 5px 5px 5px;
        width: 25px;
        height: 24px;
        margin-top: 5px;
        font-weight: bold;
        text-align: center;
    }
}
@media only screen and (max-width:850px) {
    .main-container{
        width: 50%;
        height: 100vh;
    }
}
@media only screen and (max-width:650px) {
    .main-container{
        width: 70%;
        height: 100vh;
    }
}
@media only screen and (max-width:477px) {
    .main-container{
        width: 100%;
        height: 90vh;
    }
    .bingo-numbers button{
        height: 24px;
    }
}
.selected {
    background-color: #007bff;
    color: white;
  }
